.containerX
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.todo-item {
    width: 70%;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .checkbox {
    margin-right: 12px;
  }
  
  .task-title {
    flex-grow: 1;
    font-size: 18px;
    color: black;
  }
  .edit-button,.done-button
  {
    padding: 8px 16px;
    background-color: #ffffff;
    border: 0.5px solid black;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.5s ease;
  }
  .edit-button:hover,.done-button:hover {
    background-color: black;
    color:white;
  }
  .delete-button {
    padding: 8px 16px;
    background-color: #ffffff;
    border: 0.5px solid red;
    color: red;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .delete-button:hover {
    background-color: red;
    color:white;
  }
  